{% extends 'base/base.html' %}
{% load staticfiles %}

{% block nav %}
{% endblock %}


{% block extrastatic %}
<style type="text/css">
    body{
        background-color: white; 
    }
    .loggin-div{
        background-image: url('{% static 'img/login.jpg' %}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh !important;
        padding: 0px 0px 0px 0px !important;
        margin: 0px 0px 0px 0px !important;
    }
    .loggin-panel{
        background-color: rgba(255,255,255, 0.0) !important;
        position: relative;
        padding-top: 5vh !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="loggin-div">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8 offset-md-2 offset-lg-3 offset-sm-2 offset-xs-2 ">
                <div class="login-panel panel panel-default loggin-panel">
                    <div class="panel-heading loggin-panel">
                        <h3 class="text-muted">Logout</h3>
                    </div>
                    <div class="panel-body loggin-panel">
                          <div class="row">
                            <div class="col-lg-10 offset-lg-1 col-md-8 offset-md-2 col-sm-12 col-xs-12">
                              <div class="jumbotron">
                                <h1 class="display-5">Gracias por usar el sistema de control de Tránsito Vehicular</h1>
                                <hr class="my-4">
                                <a href="/" class="btn btn-success btn-lg btn-block" type="button">Ingresar</a>
                              </form>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}